.extrato {
    width: 282px;
    height: 512px;
    margin-top: 50px;
    border-radius: 8px;
    background: #f5f5f5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.labelExtrato {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 25px;
}

.divCirculo {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    background-color: #004D61;
    border-radius: 50%;
}

.divCirculo:hover {
    border: 2px solid #FF5031;
}

.btnExtrato {
    position: absolute;
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 7px;
}

.btnExtrato:hover {
    color: white;
}

label {
    font-family: Inter, serif;
}

.labelMes {
    font-size: 15px;
    font-weight: normal;
    margin-left: 25px;
    color: #47A138;
}

.labelTipo {
    font-size: 15px;
    font-weight: normal;
    margin-left: 25px;
    color: black;
}

.labelData {
    font-size: 15px;
    font-weight: normal;
    margin-left: 25px;
    color: black;
}

.labelValorExtrato {
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    color: black;
}

.hrExtrato {
    margin-top: 15px;
    border-width: 1px;
    opacity: 50%;
}

.rowExtrato {
    margin-top: 35px;
}

@media (max-width: 768px) {
    .extrato {
        width: 600px;
        height: 512px;
        margin-top: 25px;
        margin-left: 80px;
        border-radius: 8px;
        background: #f5f5f5;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .extratoBody {
        width: 282px;
        margin: auto;
    }

    .labelExtrato {
        color: black;
        font-size: 25px;
        font-weight: bold;
        margin-top: 25px;
        margin-left: 25px;
    }

    .divCirculo {
        width: 40px;
        height: 40px;
        margin-top: 25px;
        background-color: #004D61;
        border-radius: 50%;
    }

    .divCirculo:hover {
        border: 2px solid #FF5031;
    }

    .btnExtratoTablet {
        position: absolute;
        width: 25px;
        height: 25px;
        color: white;
        cursor: pointer;
        margin-left: 12px;
        margin-top: 7px;
    }

    .btnExtratoTablet:hover {
        color: white;
    }

    label {
        font-family: Inter, serif;
    }

    .labelMes {
        font-size: 15px;
        font-weight: normal;
        margin-left: 25px;
        color: #47A138;
    }

    .labelTipo {
        font-size: 15px;
        font-weight: normal;
        margin-left: 25px;
        color: black;
    }

    .labelData {
        font-size: 15px;
        font-weight: normal;
        margin-left: 25px;
        color: black;
    }

    .labelValorExtrato {
        font-size: 16px;
        font-weight: bold;
        margin-left: 25px;
        color: black;
    }

    .hrExtrato {
        margin-top: 15px;
        border-width: 1px;
        opacity: 50%;
    }

    .rowExtrato {
        margin-top: 35px;
    }
}

@media (max-width: 480px) {
    /* Mobile */

    .extrato {
        width: 312px;
        height: 655px;
        margin-top: 25px;
        margin-left: 80px;
        border-radius: 8px;
        background: #f5f5f5;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .extratoBody {
        display: grid;
        grid-template-columns: 60% 5% 20% 15%;
    }

    .labelExtrato {
        color: black;
        font-size: 25px;
        font-weight: bold;
        margin-top: 25px;
        margin-left: 10px;
        grid-column: 1;
        text-align: left;
    }

    .divCirculoEditar {
        width: 40px;
        height: 40px;
        margin-top: 25px;
        background-color: #004D61;
        border-radius: 50%;
        grid-column: 3;
    }

    .divCirculoEditar:hover {
        border: 2px solid #FF5031;
    }

    .divCirculoApagar {
        width: 40px;
        height: 40px;
        margin-top: 25px;
        background-color: #004D61;
        border-radius: 50%;
        grid-column: 4;
    }

    .divCirculoApagar:hover {
        border: 2px solid #FF5031;
    }

    .btnExtratoTablet {
        position: absolute;
        width: 25px;
        height: 25px;
        color: white;
        cursor: pointer;
        margin-left: 12px;
        margin-top: 7px;
    }

    .btnExtratoTablet:hover {
        color: white;
    }

    label {
        font-family: Inter, serif;
    }

    .labelMes {
        font-size: 15px;
        font-weight: normal;
        margin-left: 25px;
        color: #47A138;
    }

    .labelTipo {
        font-size: 15px;
        font-weight: normal;
        margin-left: 25px;
        color: black;
    }

    .labelData {
        font-size: 15px;
        font-weight: normal;
        margin-left: 25px;
        color: black;
    }

    .labelValorExtrato {
        font-size: 16px;
        font-weight: bold;
        margin-left: 25px;
        color: black;
    }

    .hrExtrato {
        margin-top: 15px;
        border-width: 1px;
        opacity: 50%;
    }

    .rowExtrato {
        margin-top: 12px;
    }
}