
.headerBank {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 85% 5%;
    background-color: #004D61;
    height: 96px;
}

.buttonMenu {
    grid-column: 1;
    background-color: transparent;
    margin-left: 15px;
    border: none;
    display: none;
}

label {
    grid-column: 2;
    margin-right: 25px;
    display: inline-block;

    text-align: right;
    color: white;
    font-size: 18px;
}

i {
    grid-column: 3;
    display: block;
    background-color: transparent;
    border: 1px;
    margin-left: 10%;
    font-size: 40px;
    color: #FF5031;
}

@media only screen and (max-width: 768px) {

    .buttonMenu {
        display: block;
    }

    label {
        display: none;
    }
}