
.headerBank {
    height: 96px;
    display: grid;
    align-items: center;
    grid-template-columns: 5% 85% 5%;
    border-radius: 1px;
    background-color: #004D61;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.buttonMenu {
    grid-column: 1;
    background-color: transparent;
    margin-left: 15px;
    border: none;
    display: none;
}

label {
    grid-column: 2;
    margin-right: 25px;
    display: inline-block;

    text-align: right;
    color: white;
    font-size: 18px;
}

i {
    grid-column: 3;
    display: block;
    background-color: transparent;
    border: 1px;
    margin-left: 10%;
    font-size: 40px;
    color: #FF5031;
}

@media (max-width: 768px) { /* Tablet */

}

@media (max-width: 480px) { /* Mobile */

}
