.novaTransacao {
    width: 95%;
    height: 478px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background: #CBCBCB;
}

.labelNovaTransacao {
    font-size: 25px;
    color: #DEE9EA;
    margin-top: 25px;
    margin-left: 25px;
}

.btnConcluirTransacao {
    margin-left: 25px;
    width: 100%;
    height: 45px;
    background-color: #004D61;
}

.btnConcluirTransacao:hover {
    background-color: #004D61;
    border: 2px solid #FF5031;
    color: white;
}

.valor {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.labelValorNovaTransacao {
    font-size: 25px;
    color: #DEE9EA;
}
